@media screen  and (min-width: 600px) {
    img{
        height: 100px;
        width: 100px;
    }
}
@media screen  and (max-width: 600px) {
    img{
        height: 30px;
        width: 30px;
    }
}
@media screen  and (min-width: 600px) {
    #blue{
        background-color: blue;
        height: 100px;
        width: 100px;

    }
}
@media screen  and (max-width: 600px) {
    #blue{
        background-color: rgb(236, 17, 17);
        height: 30px;
        width: 30px;
    }
}
#green{
    background-color: green;
}
@media screen and (min-width: 600px) {
    #green{
        color: white;
    }
}
@media screen and (max-width: 600px) {
    #green{
        color: yellow;
    }
}
@media screen and (min-width: 600px) {
    #mountains{
        background-image: url(mountains.jpg);
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 600px)  {
    #forest{
        background-image: url(forest.jpg);
        width: 100px;
        height: 100px;
    }
    
}
#shape{
    width: 100px;
    height: 100px;
    background-color: rgb(111, 111, 203);
    border: 0px solid white;
}
@media screen and (min-width: 600px) {
    #shape{
        border-radius: 100%;
    }
}
@media screen and (max-width: 600px)  {
    #shape{
        border-radius: 0%;
    }
    
}
@media screen and (min-width: 600px) {
    #desert{
        filter: blur(1);
    }
}
@media screen and (max-width: 600px)  {
    #desert{
        filter: grayscale(1)
    }
}

   
    
